* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .checkout {
    background: white;
    margin: 50px auto;
    width: 90%;
    box-shadow: 6px 6px 7px #999898ab;
    border: 1px solid #dddcdc;
  }
  
  .checkout__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 15px 10px;
  }
  
  .checkout__heading {
    font-size: 17px;
    font-family: serif;
  }
  
  .checkout__badges {
    display: flex;
    flex: 0.8;
    color: gray;
    font-size: 17px;
  }
  
  .checkout__badges>p+p:before {
    content: "/";
    padding: 0px 10px 0px 10px;
  }
  
  .checkout__badges--active {
    font-weight: 600;
  }
  
  .checkout__close {
    font-size: 20px;
  }
  
  .hr {
    width: 100%;
    border-top: 1px solid #eaeaea;
  }
  
  
  .main {
    display: flex;
  }
  
  .main__left {
    flex: 0.6;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main__right {
    flex: 0.4;
  
  }
  
  .wallet {
    padding: 10px 0px 5px 0px;
    color: gray;
    font-weight: 600;
  }
  
  .left__walletCards {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    /* padding:10px; */
  }
  
  .walletCards__image {
    width: 200px;
    padding: 10px;
    /*margin: 5px; */
    border-radius: 4px;
  }
  .walletCards__image p{
      color: rgb(150, 148, 148);
      font-size: 15px;
  }
  .walletCards__images {
    width: 200px;
    /* margin: 10px; */
  }
  .walletCards_para{
    color: gray;
  }
  
  .img--active {
    border: none;
    background-color: #f7f7f7;
  }
  
  .productDetails__cards {
    flex: 0.35;
  }
  
  .left__bottomForm {
    display: flex;
    margin-top: 30px;    
    justify-content: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="button"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: green;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }
  
  .form__input {
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
  }
  
  .formInput__50 {
    display: flex;
    justify-content: space-between;
  }
  .form__margin {
    margin-right: 10px !important;
  }
  
  .button--success {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100%;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 2px;
    cursor: pointer;
  }
  
  .main__right {
    background-color: #f7f7f7;
    
  }
  .products{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 450px;
      
  }
  .product {
    display: flex;
    padding: 10px 10px;
  }

  .main__rightHr{
    width: 96%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(155, 154, 154);
}
.main__rightHR{
    
    margin-bottom: 5px;
    color: gb(155, 154, 154);
}


  .product__image {
    /* flex-grow: 0; */
    flex:20%;
    /* margin-right: 5px; */
  
  }
  
  .product__image img {
    border: 5px solid #d6d6d6;
  }
  
  .product__price {
    flex:10%;
    align-items: flex-end;
    /* flex-grow: 0; */
    padding-top: 5px;
  }
  
  .product__info {
    padding-top: 5px;
    flex:70%;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* flex-grow: 3; */
    /* padding-left: 10px; */
  }
  
  .product__heading {
    font-size: 17px;
    font-family: serif;
  }
  .product__paragraph,.product__price{
    color: rgb(150, 148, 148);
    font-weight: 600;
  }
  .product__paragraphItalic{
      color: rgb(150, 148, 148);
      font-style: italic;
  }
  .padding {
    padding-bottom: 70px;
  }
  
  .price {
    padding: 0px 10px;
  }
  
  .price div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .price__subTotal{
    padding: 3px;
    color:gray;
  }
  .price__shipping{
    padding:3px;
    color:gray;
  }
  .price__taxes{
    padding:3px;
    color:gray;
  }
  .price__total{
    margin-top: 10px;
    padding: 5px;
  }
  .price__total div span{
      font-weight: 600;
      color: rgb(65, 63, 63);
  }